@use "../foundation/index" as  f;

.p-comments__box{
    flex: 0 1 666px;
    background-color: f.$color-comments-bg;
    padding: 7.25em 3.75em;
    z-index: 2;

    @include f.mq('tab'){
        flex-basis:540px;
        padding: 5em 2.5em;
    }

    @include f.mq('sp'){
        flex-basis: 100%;
        padding: 2.857em 1.428em 2.5em;
        font-size: 0.875rem;
    }
}
.p-comments__title{
    text-align: left;
}
.p-comments__item{
    display: flex;

    & + &{
        margin-top: 3.25em;

        @include f.mq('sp'){
            margin-top: 2.428em;
        }
    }
}
.p-comments__picture{
    flex: 0 0 100px;

    @include f.mq('sp'){
        flex-basis: 60px;
    }
}
.p-comments__text{
    flex: 0 1 calc(100% - 100px);
    line-height: 1.5;
    margin-left: 2em;

    @include f.mq('sp'){
        flex-basis: calc(100% - 60px);
        margin-left: 1.428em;
        letter-spacing: -0.03em;
        line-height: (20 / 14);
    }
}
.p-comments__img{
    flex: 0 1 534px;
    z-index: 2;
    max-width: 534px;

    @include f.mq('sp'){
        display: none;
    }
}