@use "../foundation/index" as  f;

.p-news__title{

}
.p-newsWrap{

}
.p-news__body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.125rem;
    padding: 1.88em 4.6666em 1.88em 0;
    border-bottom: 1px solid f.$color-news-border;
    position: relative;
    transition: .3s;

    @include f.mq('sp'){
        padding: 0.928em 4em 0.857em 1.142em;
        font-size: 0.875rem;
    }

    &::after{
        content: "";
        border-top: solid 2px f.$color-body-font;
        border-right: solid 2px f.$color-body-font;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%) rotate(45deg);
    }

    &:first-child{
        border-top: 1px solid f.$color-news-border;
    }

    &:focus,
    &:hover{
        cursor: pointer;
        background: f.$color-news-hover;
    }
}
.p-news__date{
    flex: 0 0 100px;
    font-family: f.$font-Eng;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 43px;

    @include f.mq('sp'){
        flex: 0 0 80px;
        line-height: 20px;
    }
}
.p-news__label{
    flex: 0 0 120px;
    height: 30px;
    font-size: 0.875rem;
    line-height: 30px;
    border: 2px solid f.$color-news-label;
    border-radius: 50px;
    text-align: center;
    margin: 0 2.857em;

    @include f.mq('sp'){
        flex: 0 0 81px;
        height: 18px;
        line-height: 16px;
        font-size: 0.75rem;
        margin: 0 1.666em;
    }
}
.p-news__text{
    flex: 0 1 calc(100% - 200px - 100px);

    @include f.mq('sp'){
        flex: 0 0 100%;
        margin-top: 0.57em;
        letter-spacing: -0.4px;    
        line-height: (20 / 14);    
    }
}
.p-news__btnWrap{
    margin-top: 2.46em;
    text-align: center;
}