@use '../foundation/index' as f;

.p-top__textArea{
    width: 600px;
    margin-left: auto;
    padding-top: 228px;

    @include f.mq('sp'){
        width: 342px;
        max-width: 100%;
        padding-top: 222px;
        margin-left: 0;
        margin-right: auto;
    }
}
.p-top__lead{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.00125em;
    line-height: (48 / 32);

    @include f.mq('sp'){
        line-height: (40 / 24);
        font-size: 24px;
        letter-spacing: 0;
    }
}
.p-top__text{
    font-size: 18px;
    font-weight: bold;
    line-height: (28 / 18);
    margin-top: 1.555em;

    @include f.mq('sp'){
        font-size: 14px;
        letter-spacing: -0.5px;
        line-height: (20 / 14);
        margin-top: 1.428em;
    }
}
.p-top__btnWrap{
    margin-top: 2.4em;

    @include f.mq('sp'){
        margin-top: 1.6875em;
        text-align: center;
    }
}