@use "../foundation/index" as  f;

.l-footer{
    @include f.layout();
    background-color: f.$color-footer-bg;
}

.l-footer__inner{
    padding: 3.4375em 7.625em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include f.mq('sp'){
        padding: 3.625em 0;
    }
}
