@use "../foundation/index" as  f;

.l-header{
    width: 100%;
    background-color: f.$color-header-bg;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    @include f.mq('sp'){
        height: 68px;
        background-color: f.$color-header-bg-sp;
        position: fixed
    }
}
.l-header__inner{
    @include f.layout;
    padding: 0 2.5em;

    @include f.mq('sp'){
        padding: 0 1em;
    }
}