@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
dl,
dt,
dd,
input {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

i {
  font-style: normal;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #3E3E3E;
  font-size: 100%;
  background-color: #F3F3F3;
  overflow-x: hidden;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #3E3E3E;
  display: block;
}

.l-header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .l-header {
    height: 68px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
  }
}

.l-header__inner {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  padding: 0 2.5em;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 0 1em;
  }
}

.l-top {
  margin: 0 auto;
  height: 648px;
  overflow: hidden;
  background: transparent url("../img/mv.png") no-repeat center center/cover;
}
@media screen and (max-width: 767px) {
  .l-top {
    height: 667px;
    background-position: left 20% center;
  }
}

.l-top__inner {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .l-top__inner {
    padding: 0 16px;
  }
}

.l-section {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 7.5em;
}
@media screen and (max-width: 767px) {
  .l-section {
    padding: 0 16px;
  }
}
@media screen and (max-width: 767px) {
  .l-section {
    margin-top: 3.75em;
  }
}

.l-news__inner {
  background: #FFFFFF;
  padding: 3.75em 3.75em 2.38em 3.75em;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (max-width: 767px) {
  .l-news__inner {
    padding: 2.5625em 0;
    margin-top: -6.25em;
    position: relative;
    z-index: 10;
  }
}

.l-service {
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 81%, transparent 81%, transparent 100%);
}
@media screen and (max-width: 767px) {
  .l-service {
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 59%, transparent 59%, transparent 100%);
  }
}

.l-service__inner {
  padding-top: 3.75em;
}
@media screen and (max-width: 767px) {
  .l-service__inner {
    padding-top: 2.5em;
  }
}

.l-results {
  padding-right: 0;
  padding-left: 2.5em;
}
@media screen and (max-width: 767px) {
  .l-results {
    padding-left: 0;
  }
}

.l-results__inner {
  background: #3E3E3E;
  padding: 3.88em 0 3.75em 3.88em;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .l-results__inner {
    padding: 2.5em 0;
  }
}

@media screen and (max-width: 767px) {
  .l-price {
    margin-top: 2.5em;
  }
}

.l-price__inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

.l-comments {
  position: relative;
  padding-bottom: 7.5em;
}
@media screen and (max-width: 767px) {
  .l-comments {
    padding-bottom: 3.75em;
    background: linear-gradient(180deg, transparent 0%, transparent 12.5%, #3E3E3E 12.5%, #3E3E3E 100%);
    margin-top: 3.5em;
  }
}
.l-comments::after {
  content: "";
  background: #3E3E3E;
  width: 76.5625%;
  height: 576px;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .l-comments::after {
    display: none;
  }
}

.l-comments__inner {
  display: flex;
  align-items: center;
}

.l-qa {
  background: url("../img/qa-bg.png") no-repeat center center/cover;
  margin-top: 0;
  padding-top: 3.625em;
  padding-bottom: 7.75em;
}
@media screen and (max-width: 767px) {
  .l-qa {
    padding-top: 2.5em;
    padding-bottom: 4.0625em;
  }
}

.l-qa__inner {
  width: 612px;
  max-width: 100%;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .l-qa__inner {
    width: 100%;
  }
}

.l-access {
  position: relative;
  margin-top: 0;
  padding-top: 7.5em;
}
@media screen and (max-width: 767px) {
  .l-access {
    background: #3E3E3E;
    margin-top: 0;
    padding-top: 2.5em;
    padding-bottom: 8.5em;
  }
}
.l-access::after {
  content: "";
  background: #3E3E3E;
  width: 76.5625%;
  height: 504px;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .l-access::after {
    content: none;
  }
}

.l-access__inner {
  display: flex;
}
@media screen and (max-width: 767px) {
  .l-access__inner {
    flex-direction: column;
  }
}

.l-contact {
  background: url("../img/contact-bg.png") no-repeat center center/cover;
  margin-top: 7.66em;
}
@media screen and (max-width: 767px) {
  .l-contact {
    margin-top: 0;
  }
}

.l-contact__inner {
  padding: 3.75em 0;
}
@media screen and (max-width: 767px) {
  .l-contact__inner {
    padding: 2.5em 0;
  }
}

.l-footer {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  background-color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .l-footer {
    padding: 0 16px;
  }
}

.l-footer__inner {
  padding: 3.4375em 7.625em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .l-footer__inner {
    padding: 3.625em 0;
  }
}

.c-btn {
  display: inline-block;
  max-width: 100%;
  padding: 1em 3.85em;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .c-btn {
    padding: 0.7em 4.84em;
  }
}

.c-btn--light {
  background-color: #FFFFFF;
  border: 1px solid #707070;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .c-btn--light {
    letter-spacing: 0.1em;
  }
}
.c-btn--light:focus, .c-btn--light:hover {
  background-color: #3E3E3E;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.c-btn--dark {
  background-color: #3E3E3E;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .c-btn--dark {
    letter-spacing: 0.1em;
  }
}
.c-btn--dark:focus, .c-btn--dark:hover {
  background-color: #FFFFFF;
  color: #3E3E3E;
  border-color: #707070;
}

.c-btn--conversion {
  padding: 0.444em 2.1em;
  background-color: #FFAA3B;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  color: #FFFFFF;
  font-weight: bold;
}
.c-btn--conversion:disabled {
  background-color: #B2B2B2;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .c-btn--conversion {
    width: 222px;
    padding: 0.6875em 0;
    font-size: 1rem;
    text-align: center;
  }
}
.c-btn--conversion:focus, .c-btn--conversion:hover {
  background-color: #F18900;
}

.c-section__title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1.666em;
}
@media screen and (max-width: 767px) {
  .c-section__title {
    font-size: 30px;
    padding-bottom: 1.366em;
  }
}

.c-cards {
  display: flex;
}
@media screen and (max-width: 767px) {
  .c-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .c-cards .c-cards__item {
    margin-left: 0;
  }
  .c-cards .c-cards__item:not(:first-child) {
    margin-top: 2.25em;
  }
}

.c-card__img {
  position: relative;
  overflow: hidden;
}
.c-card__img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-card__title {
  font-size: 1.125rem;
  font-weight: 600;
}

.c-card__text {
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .c-card__text {
    font-size: 0.875rem;
    line-height: 1.4285714286;
  }
}

.p-header__logo {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-header__logo {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 68px;
  }
}

@media screen and (max-width: 767px) {
  .p-header__menu {
    display: none;
  }
}

.p-header__list {
  display: flex;
  justify-content: center;
}

.p-header__item {
  padding: 1.5em 0;
}
.p-header__item + .p-header__item {
  margin-left: 28px;
}
.p-header__item a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.025em;
  font-weight: 500;
  background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 1px no-repeat;
  transition: 0.3s;
  padding: 0.5em 0.375em;
}
.p-header__item a:focus, .p-header__item a:hover, .p-header__item a.is-active {
  --d: 100%;
}

.p-drawer__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 298;
  display: none;
}
.p-drawer__bg.is-active {
  display: block;
  transition: 0.5s ease 0s;
}

.p-drawer__menu {
  width: 300px;
  height: 100%;
  background: #FFFFFF;
  padding: 2.5em;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.p-drawer__menu.is-active {
  transform: translateX(0);
}
@media screen and (min-width: 1280px) {
  .p-drawer__menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .p-drawer__menu {
    display: none;
  }
}

.p-drawer__list {
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}

.p-drawer__item {
  position: relative;
  padding: 0.5em;
  text-align: center;
}
.p-drawer__item a {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 1px no-repeat;
  transition: 0.3s;
  padding: 0.444em 0.333em;
}
.p-drawer__item a:focus, .p-drawer__item a:hover, .p-drawer__item a.is-active {
  --d: 100%;
}

.p-drawerIcon {
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 300;
  width: 26px;
  height: 20px;
  display: none;
}
.p-drawerIcon.is-active {
  transform: translateX(-300px);
  transition: transform 0.5s ease 0s;
}
.p-drawerIcon.is-active .p-drawerIcon__bar {
  background: #F3F3F3;
}
.p-drawerIcon.is-active .p-drawerIcon__bar:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.p-drawerIcon.is-active .p-drawerIcon__bar:nth-child(2) {
  display: none;
}
.p-drawerIcon.is-active .p-drawerIcon__bar:nth-child(3) {
  top: 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .p-drawerIcon {
    display: block;
  }
}

.p-drawerIcon__bar {
  position: relative;
  display: block;
  height: 4px;
  width: 26px;
  background: #626262;
  border-radius: 50px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.p-drawerIcon__bar:nth-child(1) {
  top: 0;
}
.p-drawerIcon__bar:nth-child(2) {
  margin: 4px 0;
}
.p-drawerIcon__bar:nth-child(3) {
  top: 0;
}

.p-top__textArea {
  width: 600px;
  margin-left: auto;
  padding-top: 228px;
}
@media screen and (max-width: 767px) {
  .p-top__textArea {
    width: 342px;
    max-width: 100%;
    padding-top: 222px;
    margin-left: 0;
    margin-right: auto;
  }
}

.p-top__lead {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.00125em;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .p-top__lead {
    line-height: 1.6666666667;
    font-size: 24px;
    letter-spacing: 0;
  }
}

.p-top__text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5555555556;
  margin-top: 1.555em;
}
@media screen and (max-width: 767px) {
  .p-top__text {
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 1.4285714286;
    margin-top: 1.428em;
  }
}

.p-top__btnWrap {
  margin-top: 2.4em;
}
@media screen and (max-width: 767px) {
  .p-top__btnWrap {
    margin-top: 1.6875em;
    text-align: center;
  }
}

.p-news__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.125rem;
  padding: 1.88em 4.6666em 1.88em 0;
  border-bottom: 1px solid #CECDCD;
  position: relative;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .p-news__body {
    padding: 0.928em 4em 0.857em 1.142em;
    font-size: 0.875rem;
  }
}
.p-news__body::after {
  content: "";
  border-top: solid 2px #3E3E3E;
  border-right: solid 2px #3E3E3E;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) rotate(45deg);
}
.p-news__body:first-child {
  border-top: 1px solid #CECDCD;
}
.p-news__body:focus, .p-news__body:hover {
  cursor: pointer;
  background: rgba(73, 115, 255, 0.1);
}

.p-news__date {
  flex: 0 0 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 43px;
}
@media screen and (max-width: 767px) {
  .p-news__date {
    flex: 0 0 80px;
    line-height: 20px;
  }
}

.p-news__label {
  flex: 0 0 120px;
  height: 30px;
  font-size: 0.875rem;
  line-height: 30px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  text-align: center;
  margin: 0 2.857em;
}
@media screen and (max-width: 767px) {
  .p-news__label {
    flex: 0 0 81px;
    height: 18px;
    line-height: 16px;
    font-size: 0.75rem;
    margin: 0 1.666em;
  }
}

.p-news__text {
  flex: 0 1 calc(100% - 200px - 100px);
}
@media screen and (max-width: 767px) {
  .p-news__text {
    flex: 0 0 100%;
    margin-top: 0.57em;
    letter-spacing: -0.4px;
    line-height: 1.4285714286;
  }
}

.p-news__btnWrap {
  margin-top: 2.46em;
  text-align: center;
}

.p-service__title {
  color: #FFFFFF;
}

.p-service__cards {
  background: #FFFFFF;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 3.75em 2.75em;
}
@media screen and (max-width: 767px) {
  .p-service__cards {
    padding: 2.5em 1em 2.4em;
    width: 343px;
  }
}
.p-service__cards .p-service__item {
  flex: 0 1 33.333%;
}
.p-service__cards .p-service__item:not(:first-child) {
  margin-left: 10.3448275862%;
}
@media screen and (max-width: 767px) {
  .p-service__cards .p-service__item:not(:first-child) {
    margin-left: 0;
  }
}

.p-service__img {
  padding-top: 64px;
}
.p-service__img img {
  width: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-service__lead {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1.4;
  text-align: center;
  margin-top: 0.3em;
}
@media screen and (max-width: 767px) {
  .p-service__lead {
    line-height: 1.2;
    margin-top: 0.4em;
    padding-left: 0.3em;
  }
}

.p-service__text {
  margin-top: 0.75em;
  letter-spacing: -0.13em;
}
@media screen and (max-width: 767px) {
  .p-service__text {
    margin-top: 0.9375em;
    letter-spacing: -0.026em;
    line-height: 1.7;
  }
}

.swiper {
  padding-left: 3.75em;
  height: 428px;
}
@media screen and (max-width: 767px) {
  .swiper {
    padding-left: 1em;
    height: 300px;
  }
}
.swiper .swiper-wrapper .swiper-slide {
  width: 400px;
  height: 366px;
}
@media screen and (max-width: 767px) {
  .swiper .swiper-wrapper .swiper-slide {
    width: 274px;
    height: 253px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 2px;
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 1px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 1em;
}

.swiper-pagination {
  text-align: left;
  padding-left: 0.25em;
}
@media screen and (max-width: 767px) {
  .swiper-pagination {
    text-align: center;
    padding-left: 0.5em;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet-active::after {
  content: "";
  width: 20px;
  height: 20px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.swiper-pagination .swiper-pagination-bullet:first-child {
  margin-left: 0;
}

.p-results__title {
  color: #FFFFFF;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .p-results__title {
    text-align: center;
  }
}

.p-results__card {
  width: 400px;
}
@media screen and (max-width: 767px) {
  .p-results__card {
    width: 274px;
  }
}

.p-results__img {
  padding-top: 62.5%;
}

.p-results__body {
  background-color: #FFFFFF;
  padding: 0.75em 1em 1.25em 1em;
}
@media screen and (max-width: 767px) {
  .p-results__body {
    padding: 0.5em 0.875em 0.625em 0.75em;
  }
}

.p-results__lead {
  font-weight: bold;
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .p-results__lead {
    font-size: 0.875rem;
    letter-spacing: -0.016em;
  }
}

.p-results__text {
  line-height: 1.5;
  margin-top: 0.25em;
}
@media screen and (max-width: 767px) {
  .p-results__text {
    font-size: 0.75rem;
    margin-top: 0.5em;
  }
}

.p-results__btnWrap {
  margin-top: 2.33em;
}
@media screen and (max-width: 767px) {
  .p-results__btnWrap {
    text-align: center;
    margin-top: 1.3em;
  }
}

.p-price__list {
  border: 1px solid #707070;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 60px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .p-price__list {
    font-size: 1.25rem;
    line-height: 55px;
  }
}
.p-price__list dt, .p-price__list dd {
  height: 60px;
  border-bottom: 1px solid #707070;
}
.p-price__list dt:last-child, .p-price__list dd:last-child {
  border: none;
}
@media screen and (max-width: 767px) {
  .p-price__list dt, .p-price__list dd {
    height: 55px;
  }
}
.p-price__list dt {
  width: 262px;
  background: #3E3E3E;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-price__list dt {
    width: 100px;
  }
}
.p-price__list dd {
  width: calc(100% - 262px);
  background: #FFFFFF;
  padding-left: 1.583em;
}
@media screen and (max-width: 767px) {
  .p-price__list dd {
    width: calc(100% - 100px);
    padding-left: 1em;
    letter-spacing: -0.02em;
  }
}

.p-price__comment {
  font-size: 0.75rem;
  margin-top: 0.46em;
  letter-spacing: 0.13em;
}
@media screen and (max-width: 767px) {
  .p-price__comment {
    margin-top: 0.33em;
  }
}

.p-comments__box {
  flex: 0 1 666px;
  background-color: #FFFFFF;
  padding: 7.25em 3.75em;
  z-index: 2;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .p-comments__box {
    flex-basis: 540px;
    padding: 5em 2.5em;
  }
}
@media screen and (max-width: 767px) {
  .p-comments__box {
    flex-basis: 100%;
    padding: 2.857em 1.428em 2.5em;
    font-size: 0.875rem;
  }
}

.p-comments__title {
  text-align: left;
}

.p-comments__item {
  display: flex;
}
.p-comments__item + .p-comments__item {
  margin-top: 3.25em;
}
@media screen and (max-width: 767px) {
  .p-comments__item + .p-comments__item {
    margin-top: 2.428em;
  }
}

.p-comments__picture {
  flex: 0 0 100px;
}
@media screen and (max-width: 767px) {
  .p-comments__picture {
    flex-basis: 60px;
  }
}

.p-comments__text {
  flex: 0 1 calc(100% - 100px);
  line-height: 1.5;
  margin-left: 2em;
}
@media screen and (max-width: 767px) {
  .p-comments__text {
    flex-basis: calc(100% - 60px);
    margin-left: 1.428em;
    letter-spacing: -0.03em;
    line-height: 1.4285714286;
  }
}

.p-comments__img {
  flex: 0 1 534px;
  z-index: 2;
  max-width: 534px;
}
@media screen and (max-width: 767px) {
  .p-comments__img {
    display: none;
  }
}

.p-qa__list dt {
  font-weight: bold;
  letter-spacing: 0.025em;
  padding-left: 2.5em;
  position: relative;
  cursor: pointer;
}
.p-qa__list dt::before {
  content: "";
  position: absolute;
  top: 52%;
  right: 0;
  display: block;
  width: 16px;
  height: 3px;
  background-color: #4973FF;
  transform: translateY(-50%);
}
.p-qa__list dt::after {
  content: "";
  position: absolute;
  top: 52%;
  right: 7px;
  display: block;
  width: 3px;
  height: 17px;
  background-color: #4973FF;
  transform: translateY(-50%);
}
.p-qa__list dt.is-active::after {
  content: none;
}
.p-qa__list dd {
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 0.75em 1em;
  margin-top: 1em;
  display: none;
}
.p-qa__list dd.is-active {
  display: block;
}
@media screen and (max-width: 767px) {
  .p-qa__list dd {
    font-size: 0.875rem;
    line-height: 1.4285714286;
    letter-spacing: -0.026em;
    padding: 0.785em 0.857em 0.714em;
    margin-top: 1em;
  }
}
.p-qa__list span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #3B69FF;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-right: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.p-qa__item {
  background-color: #FFFFFF;
  padding: 0.9375em 1em;
  border-radius: 4px;
  line-height: 1.5;
}
.p-qa__item + .p-qa__item {
  margin-top: 2.0625em;
}
@media screen and (max-width: 767px) {
  .p-qa__item + .p-qa__item {
    margin-top: 1.54em;
  }
}
@media screen and (max-width: 767px) {
  .p-qa__item {
    padding: 1em 1em 0.875em;
  }
}

.p-access__box {
  flex: 0 0 317px;
  color: #FFFFFF;
  margin-left: 5%;
  z-index: 2;
  padding-bottom: 2.5em;
}
@media screen and (max-width: 767px) {
  .p-access__box {
    flex-basis: 100%;
    margin-left: 0;
    padding-bottom: 0;
  }
}

.p-access__title {
  text-align: left;
  padding-bottom: 1.56em;
}
@media screen and (max-width: 767px) {
  .p-access__title {
    padding-bottom: 1.22em;
  }
}

.p-access__address {
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .p-access__address {
    line-height: 1.4285714286;
    font-size: 0.875rem;
    letter-spacing: -0.03em;
  }
}

.p-access__mapWrap {
  flex: 0 1 726px;
  margin-left: 8.3333333333%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .p-access__mapWrap {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 1.125em;
  }
}

.p-access__map {
  position: relative;
  padding-top: 71.6253443526%;
  overflow: hidden;
}
.p-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-access__btn {
  margin-top: 1.36em;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .p-access__btn {
    position: absolute;
    bottom: 61px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    letter-spacing: 0.03em;
  }
}

.p-contact__wrap {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  background: #FFFFFF;
}

.p-contact__header {
  color: #FFFFFF;
  text-align: center;
  background: url("../img/contact1.png") no-repeat center center/cover;
  padding: 3.75em 3.75em 3.375em;
  border-radius: 12px 12px 0 0;
}
@media screen and (max-width: 767px) {
  .p-contact__header {
    padding: 2.5em 1em 2.25em;
    text-align: left;
  }
}

.p-contact__title {
  padding-bottom: 0.361em;
}
@media screen and (max-width: 767px) {
  .p-contact__title {
    padding-bottom: 0.333em;
  }
}

@media screen and (max-width: 767px) {
  .p-contact__message {
    font-size: 0.875rem;
    line-height: 1.4285714286;
    letter-spacing: -0.03em;
  }
}

.p-contact__form {
  padding: 3.625em 7.5em;
}
@media screen and (max-width: 767px) {
  .p-contact__form {
    padding: 2.25em 0.75em 2.375em;
  }
}

.p-form__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.5em;
}
.p-form__item:first-child {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .p-form__item {
    margin-top: 1.78em;
  }
}

.p-form__label {
  width: 188px;
  font-weight: bold;
  padding: 0.625em 0 0.375em;
}
.p-form__label span {
  color: #FFFFFF;
  background-color: #FF4646;
  font-size: 0.75rem;
  padding: 0.166em 0.666em;
  border-radius: 2px;
  margin-left: 1em;
}
@media screen and (max-width: 767px) {
  .p-form__label span {
    padding: 0.083em 0.666em;
    margin-left: 1.75em;
  }
}
@media screen and (max-width: 767px) {
  .p-form__label {
    padding: 0;
  }
}

.p-form__input {
  width: calc(100% - 188px);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid rgba(62, 62, 62, 0.16);
  border-radius: 0;
  color: rgba(62, 62, 62, 0.5);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 0.75em 0.3125em;
}
.p-form__input:focus, .p-form__input:hover {
  border-color: #4973FF;
  box-shadow: 0 8px 8px -8px rgba(73, 115, 255, 0.5);
  outline: none;
}
@media screen and (max-width: 767px) {
  .p-form__input {
    width: 100%;
    padding: 0.428em 0 0;
    font-size: 0.875rem;
  }
}

.p-select__item {
  position: relative;
}
.p-select__item::after {
  content: "";
  border-bottom: solid 2px #3E3E3E;
  border-right: solid 2px #3E3E3E;
  width: 8px;
  height: 8px;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 40%;
  left: 342px;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .p-select__item::after {
    top: 70%;
    left: calc(100% - 28px);
  }
}

.p-form__select {
  border: 1px solid #707070;
  cursor: pointer;
  width: 178px;
  color: #3E3E3E;
  padding: 0.5em 0.75em 0.625em;
}
.p-form__select::-ms-expand {
  display: none;
}
.p-form__select:focus, .p-form__select:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}
@media screen and (max-width: 767px) {
  .p-form__select {
    width: 100%;
    margin-top: 0.87em;
  }
}

.p-form__textarea {
  height: 200px;
  width: 100%;
  border: 1px solid #707070;
  padding: 0.5em 0.75em;
}
.p-form__textarea:focus, .p-form__textarea:hover {
  border-color: #4973FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}
@media screen and (max-width: 767px) {
  .p-form__textarea {
    height: 160px;
    margin-top: 0.714em;
  }
}

.p-item__message {
  margin-top: 0.25em;
}
@media screen and (max-width: 767px) {
  .p-item__message {
    margin-top: 1em;
  }
}

.p-item__checkbox {
  margin-top: 2.1875em;
  display: block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-item__checkbox {
    margin-top: 1.875em;
  }
}

.p-form__check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.p-form__check + span {
  cursor: pointer;
  display: block;
  margin: 0 2.33em 0 0;
  position: relative;
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .p-form__check + span {
    margin-right: 2.68em;
  }
}
.p-form__check + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background: #FFFFFF;
  border: 1px solid #707070;
}
.p-form__check + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border: 1px solid transparent;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.p-form__check + span:active::before {
  background: rgba(73, 115, 255, 0.2);
}
@media screen and (max-width: 767px) {
  .p-form__check + span {
    font-size: 1rem;
  }
}
.p-form__check:checked + span::after {
  opacity: 1;
}

.p-radio__item {
  margin-top: 0.76em;
}
@media screen and (max-width: 767px) {
  .p-radio__item {
    margin-top: 1.75em;
  }
}

.p-form__radio {
  display: inline-flex;
  padding-top: 0.25em;
}
@media screen and (max-width: 767px) {
  .p-form__radio {
    width: 100%;
    padding: 0.4375em 0;
  }
}

.p-radio__gender {
  position: relative;
}

.p-check__gender + span {
  letter-spacing: -0.13em;
  padding-left: 1em;
}
@media screen and (max-width: 767px) {
  .p-check__gender + span {
    padding-left: 1.32em;
  }
}
.p-check__gender + span::before {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.p-check__gender + span::after {
  height: 6px;
  width: 6px;
  background: #3B69FF;
  border-radius: 50%;
  padding: 0.125em;
}
.p-check__gender:focus + span::before, .p-check__gender:hover + span::before {
  border-color: #4973FF;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.5);
}

.p-check__agree + span {
  font-weight: bold;
  letter-spacing: -0.02em;
  padding-left: 2.24em;
}
.p-check__agree + span::before {
  height: 20px;
  width: 20px;
  border-radius: 0;
  left: 0;
}
.p-check__agree + span::after {
  top: 40%;
  height: 8px;
  width: 16px;
  border-bottom: 2px solid #3B69FF;
  border-left: 2px solid #3B69FF;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .p-check__agree + span {
    letter-spacing: 0;
    padding-left: 2.34em;
  }
  .p-check__agree + span::before {
    height: 18px;
    width: 18px;
    top: 44%;
    left: 0;
  }
  .p-check__agree + span::after {
    left: 1px;
    top: 30%;
  }
}
.p-check__agree:focus + span::before, .p-check__agree:hover + span::before {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.p-form__btnWrap {
  margin-top: 2.2em;
}
@media screen and (max-width: 767px) {
  .p-form__btnWrap {
    text-align: center;
    margin-top: 1.8125em;
  }
}

.p-form__btn {
  -webkit-appearance: none;
  background-image: none;
  border: none;
  padding: 0.5em 2.38em;
}
.p-form__btn:hover, .p-form__btn:focus {
  outline: none;
}
.p-form__btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .p-form__btn {
    width: 164px;
    padding: 0.75em;
  }
}

.p-form__message {
  display: none;
  font-weight: bold;
}
.p-form__message.is-success span {
  display: inline-block;
  background: linear-gradient(transparent 50%, rgba(73, 115, 255, 0.2) 0%);
}
.p-form__message.is-error {
  color: #FF4646;
}
@media screen and (max-width: 767px) {
  .p-form__message {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .p-footer__linkWrap {
    width: 100%;
    text-align: center;
  }
}

.p-footer__sns {
  vertical-align: middle;
}
.p-footer__sns a {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.p-footer__sns a:not(:first-child) {
  margin-left: 1.625em;
}
@media screen and (max-width: 767px) {
  .p-footer__sns a:not(:first-child) {
    margin-left: 2.75em;
  }
}
.p-footer__sns a:focus, .p-footer__sns a:hover {
  transform: scale(1.1, 1.1);
}
.p-footer__sns .fa-twitter {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .p-footer__sns .fa-twitter {
    font-size: 38px;
  }
}
.p-footer__sns .fa-facebook-square {
  font-size: 41px;
}

.p-footer__link {
  margin-top: 2em;
}
@media screen and (max-width: 767px) {
  .p-footer__link {
    margin-top: 2.12em;
  }
}
.p-footer__link a {
  color: #FFFFFF;
}
.p-footer__link a:not(:first-child) {
  margin-top: 0.875em;
}
.p-footer__link a:focus, .p-footer__link a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .p-footer__link a {
    font-size: 0.875rem;
  }
  .p-footer__link a:not(:first-child) {
    margin-top: 1.214em;
  }
}

.p-footer__box {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .p-footer__box {
    width: 100%;
    text-align: center;
    margin-top: 1.6875em;
  }
}

.p-footer__logo {
  color: #E3E3E3;
  font-size: 40px;
  font-weight: 600;
  padding: 0.15em 0;
}
@media screen and (max-width: 767px) {
  .p-footer__logo {
    font-size: 34px;
    letter-spacing: -0.04em;
    padding: 0.235em 0;
  }
}

.p-footer__copyright {
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  font-size: 12px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .p-footer__copyright {
    text-align: center;
  }
}

.p-toTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
  width: 50px;
  height: 50px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .p-toTop {
    right: 16px;
    bottom: 14px;
  }
}
.p-toTop:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.p-toTop.is-show {
  visibility: visible;
  opacity: 1;
}
