@use "../foundation/index" as  f;

.p-contact__wrap{
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    background: f.$color-contact-bg;
}
.p-contact__header{
    color: f.$color-sectionD-title;
    text-align: center;
    background: url("../img/contact1.png") no-repeat center center / cover;
    padding: 3.75em 3.75em 3.375em;
    border-radius: 12px 12px 0 0;

    @include f.mq('sp'){
        padding: 2.5em 1em 2.25em;
        text-align: left;
    }
}
.p-contact__title{
    padding-bottom: 0.361em;

    @include f.mq('sp'){
        padding-bottom: 0.333em;
    }
}
.p-contact__message{

    @include f.mq('sp'){
        font-size: 0.875rem;
        line-height: (20 / 14);
        letter-spacing: -0.03em;
    }
}
.p-contact__form{
    padding: 3.625em 7.5em;

    @include f.mq('sp'){
        padding: 2.25em 0.75em 2.375em;
    }
}

//form共通
.p-form__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.5em;

    &:first-child{
        margin-top: 0;
    }

    @include f.mq('sp'){
        margin-top: 1.78em;
    }
}
.p-form__label{
    width: 188px;
    font-weight: bold;
    padding: 0.625em 0 0.375em;

    span{
        color: f.$color-must-font;
        background-color: f.$color-must-bg;
        font-size: 0.75rem;
        padding: 0.166em 0.666em;
        border-radius: 2px;
        margin-left: 1em;

        @include f.mq('sp'){
            padding: 0.083em 0.666em;
            margin-left: 1.75em;
        }
    }

    @include f.mq('sp'){
        padding: 0;
    }
}
.p-form__input{
    width: calc(100% - 188px);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px solid rgba(f.$color-input-border, 0.16);
    border-radius: 0;
    color: f.$color-input-font;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em 0.75em 0.3125em;

    &:focus,
    &:hover{
        border-color: f.$color-event-border;
        box-shadow: 0 8px 8px -8px f.$color-event-shadow;
        outline: none;
    }

    @include f.mq('sp'){
        width: 100%;
        padding: 0.428em 0 0;
        font-size: 0.875rem;
    }
}

//select box
.p-select__item{
    position: relative;

    &::after{
        content: "";
        border-bottom: solid 2px f.$color-body-font;
        border-right: solid 2px f.$color-body-font;
        width: 8px;
        height: 8px;
        transform: rotate(45deg) translateY(-50%);
        position: absolute;
        top: 40%;
        left: calc(188px + 178px - 24px);
        pointer-events: none;

        @include f.mq('sp'){
            top: 70%;
            left: calc(100% - 28px);
        }
    }
}
.p-form__select{
    border: 1px solid f.$color-inputArea-border;
	cursor: pointer;
    width: 178px;
    color: f.$color-body-font;
    padding: 0.5em 0.75em 0.625em;

    &::-ms-expand{
        display: none;
    }
    &:focus,
    &:hover{
        box-shadow: 0 0 5px f.$color-event-shadow;
    }

    @include f.mq('sp'){
        width: 100%;
        margin-top: 0.87em;
    }
}

//text area
.p-form__textarea{
    height: 200px;
    width: 100%;
    border: 1px solid f.$color-inputArea-border;
    padding: 0.5em 0.75em;

    &:focus,
    &:hover{
        border-color: f.$color-event-border;
        box-shadow: 0 0 8px f.$color-event-shadow;
    }

    @include f.mq('sp'){
        height: 160px;
        margin-top: 0.714em;
    }
}
.p-item__message{
    margin-top: 0.25em;

    @include f.mq('sp'){
        margin-top: 1em;
    }
}

//checkbox,radio
.p-item__checkbox{
    margin-top: 2.1875em;
    display: block;
    position: relative;

    @include f.mq('sp'){
        margin-top: 1.875em;
    }
}
.p-form__check {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    + span{
        cursor: pointer;
        display: block;
        margin: 0 2.33em 0 0;
        position: relative; 
        font-size: 1.125rem;

        @include f.mq('sp'){
            margin-right: 2.68em;
        }

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%); 
            -webkit-transform: translateY(-50%);
            background: f.$color-contact-bg;
            border: 1px solid f.$color-inputArea-border;
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 3px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            border: 1px solid transparent;
            opacity: 0;
            transition: all 0.3s ease 0s;
        }

        &:active::before{
            background: f.$color-event-bg;
        }

        @include f.mq('sp'){
            font-size: 1rem;
        }
    }
    &:checked{
        + span::after{
            opacity: 1;
        }
    }
}
.p-radio__item{
    margin-top: 0.76em;

    @include f.mq('sp'){
        margin-top: 1.75em;
    }
}
.p-form__radio{
    display: inline-flex;
    padding-top: 0.25em;

    @include f.mq('sp'){
        width: 100%;
        padding: 0.4375em 0;
    }
}
.p-radio__gender{
    position: relative;
}
.p-check__gender{

    + span{
        letter-spacing: -0.13em;
        padding-left: 1em;

        @include f.mq('sp'){
            padding-left: 1.32em;
        }

        &::before{
            height: 12px;
            width: 12px;
            border-radius: 50%; 
        }
        &::after{
            height: 6px;
            width: 6px;
            background: f.$color-input-check;
            border-radius: 50%;
            padding: 0.125em;
        }
    }

    &:focus,
    &:hover{
        + span::before{
            border-color: f.$color-event-border;
            box-shadow: 0 0 6px f.$color-event-shadow;
        }
    }
}
.p-check__agree{

    + span{
        font-weight: bold;
        letter-spacing: -0.02em;
        padding-left:2.24em;

        &::before{
            height: 20px;
            width: 20px;   
            border-radius: 0;
            left: 0;    
        }
        &::after{
            top: 40%;
            height: 8px;
            width: 16px;
            border-bottom: 2px solid f.$color-input-check;
            border-left: 2px solid f.$color-input-check;
            -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);  
        }

        @include f.mq('sp'){
            letter-spacing: 0;
            padding-left: 2.34em;

            &::before{
                height: 18px;
                width: 18px;
                top: 44%;
                left: 0;
            }
            &::after{
                left: 1px;
                top: 30%;
            }
        }  
    }

    &:focus,
    &:hover{
        + span::before{
            box-shadow: 0 0 5px f.$color-event-shadow;
        }
    }   
}

//submit btn
.p-form__btnWrap{
    margin-top: 2.2em;

    @include f.mq('sp'){
        text-align: center;
        margin-top: 1.8125em;
    }
}
.p-form__btn{
    -webkit-appearance: none;
    background-image: none;
    border: none;
    padding: 0.5em 2.38em;

    &:hover,
    &:focus{
        outline: none;
    }
    &::-moz-focus-inner{
        border: none;
        padding: 0;
    }

    @include f.mq('sp'){
        width: 164px;
        padding: 0.75em;
    }
}

//message
.p-form__message{
    display: none;
    font-weight: bold;

    &.is-success{

        span{
            display: inline-block;
            background:linear-gradient(transparent 50%, #{f.$color-event-bg} 0%) ;    
        }
    }
    &.is-error{
        color: f.$color-message-error;
    }

    @include f.mq('sp'){
        text-align: center;
    }
}